#<Voip Config File>#
net.dhcp.AutoSNTP = 1
################################################################################
sip.SIPLocalPort = 5060
sip.stun.Server =
sip.stun.RefreshTime = 50
sip.stun.SIPWaitTime = 800
mm.AudioCodecSets = G722,opus,PCMU,PCMA,G729
mm.VideoCodecSets = H264
mm.VideoFrameRate = 25
mm.VideoBitRate = 2000000
mm.VideoResolution = 4
${LINES}
################################################################################
call.basic.PoundToSend = 1
call.basic.PoundToBXfer = 0
call.basic.OnhooktoBXfer = 0
call.basic.OnhooktoAXfer = 1
call.basic.ConfOnhookToXfer = 0
call.basic.DialFixedLength = 0
call.basic.FixedLengthNums = 11
call.basic.TimeoutToSend = 1
call.basic.DialTimeoutValue = 5
call.basic.E164Enabled = 0
call.alertInfo.1.Text = Internal
call.alertInfo.1.RingType = Type 1
call.alertInfo.2.Text = External
call.alertInfo.2.RingType = Type 2
call.alertInfo.3.Text = Group
call.alertInfo.3.RingType = Type 3
call.alertInfo.4.Text = 
call.alertInfo.4.RingType = Type 1
call.alertInfo.5.Text = 
call.alertInfo.5.RingType = Type 1
call.alertInfo.6.Text = 
call.alertInfo.6.RingType = Type 1
call.alertInfo.7.Text = 
call.alertInfo.7.RingType = Type 1
call.alertInfo.8.Text = 
call.alertInfo.8.RingType = Type 1
call.alertInfo.9.Text = 
call.alertInfo.9.RingType = Type 1
call.alertInfo.10.Text = 
call.alertInfo.10.RingType = Type 1

################################################################################
phone.MenuPassword = 31337
phone.KeyLockPassword = 123
phone.KeyLockEnabled = 0
phone.KeyLockTimeout = 0
phone.KeyLockStatus = 0
phone.EmergencyCallList = 110
phone.PushXMLIP = 
phone.AllowCharsInCallNumber = 0
phone.LDAPSearch = 0
phone.SearchPath = 0
phone.CallerDisplayType = 5
phone.CallLogDisplayType = 0
phone.RecvSMSEnabled = 1
phone.CallLogEnabled = 1
phone.LineDisplayFormat = $protocol$instance:$name
phone.MWIToneEnabled = 0
phone.SIPNotifyXML = 1
phone.BlockXMLWhenCall = 1
phone.display.GreetingWords = VOIP PHONE
phone.display.Constrast = 5
phone.display.EnergySavingEnabled = 4
phone.display.ActiveLuminanceLevel = 12
phone.display.EnergySavingTimeout = 45
phone.display.DisablePinyinIME = 0
phone.display.PhoneModel = 
phone.display.HostName = bcm911188sv
phone.display.DefaultLanguage = en
phone.display.GreetingWordsEnabled = 0
phone.display.AutoCloseLed = 0
phone.powerLed.Power = 0
phone.powerLed.MWIOrSMS = 3
phone.powerLed.InUsing = 0
phone.powerLed.Ring = 2
phone.powerLed.Hold = 0
phone.powerLed.Mute = 0
phone.powerLed.MissedCall = 3
phone.volume.HandsetVol = 5
phone.volume.HandsetMicVol = 3
phone.volume.HeadsetVol = 5
phone.volume.HeadsetMicVol = 3
phone.volume.HeadsetRingVol = 5
phone.volume.HandFreeVol = 5
phone.volume.HandFreeMicVol = 3
phone.volume.HandFreeRingVol = 5
phone.volume.RingType = Type 2
phone.date.SNTPEnabled = 1
phone.date.SNTPServer = ${SERVER}
phone.date.SecondSNTPServer = 0.us.pool.ntp.org
phone.date.TimeZone = ${TL_TIMEZONE}
phone.date.SNTPInterval = 60
phone.date.DSTType = 2
phone.date.DSTLocation = 0
phone.date.DSTRuleMode = 0
phone.date.DSTMinOffset = 60
phone.date.DSTStartMon = 3
phone.date.DSTStartWeek = 2
phone.date.DSTStartWday = 0
phone.date.DSTStartHour = 2
phone.date.DSTEndMon = 11
phone.date.DSTEndWeek = 1
phone.date.DSTEndWday = 0
phone.date.DSTEndHour = 2
phone.timeDisplay.TimeDisplayEnabled = 0
phone.timeDisplay.TimeDisplayStyle = 1
phone.timeDisplay.DateDisplayStyle = 2
phone.timeDisplay.DateSeparator = 0
phone.xmlContact.1.Name = PBX
phone.xmlContact.1.Addr = ${PROTO}://${PROV_SERVER}${PROV_PATH}CONTACTS/fanvil_compdir.xml
phone.xmlContact.1.UserName = 
phone.xmlContact.1.PassWd = 
phone.xmlContact.1.Sipline = -1

################################################################################
mcast.Priority = 4
mcast.PriorityEnabled = 0
mcast.addr.1.Name = 
mcast.addr.1.Host = 
mcast.addr.1.Port = 0
mcast.addr.2.Name = 
mcast.addr.2.Host = 
mcast.addr.2.Port = 0
mcast.addr.3.Name = 
mcast.addr.3.Host = 
mcast.addr.3.Port = 0
mcast.addr.4.Name = 
mcast.addr.4.Host = 
mcast.addr.4.Port = 0
mcast.addr.5.Name = 
mcast.addr.5.Host = 
mcast.addr.5.Port = 0
mcast.addr.6.Name = 
mcast.addr.6.Host = 
mcast.addr.6.Port = 0
mcast.addr.7.Name = 
mcast.addr.7.Host = 
mcast.addr.7.Port = 0
mcast.addr.8.Name = 
mcast.addr.8.Host = 
mcast.addr.8.Port = 0
mcast.addr.9.Name = 
mcast.addr.9.Host = 
mcast.addr.9.Port = 0
mcast.addr.10.Name = Page All
mcast.addr.10.Host = 234.2.1.1
mcast.addr.10.Port = 2000

################################################################################
web.WebServerType = 0
web.WebPort = 80
web.HttpsWebPort = 443
web.RemoteControl = 1
web.MMIFilterEnabled = 0
web.WebAuthentication = 0
web.TelnetEnabled = 0
web.TelnetPort = 23
web.TelnetPrompt = 
web.LogonTimeout = 15
web.account.1.Name = admin
web.account.1.Password = 31337
web.account.1.Level = 10
web.account.2.Name = user
web.account.2.Password = 123
web.account.2.Level = 5


################################################################################
#ap.DefaultUsername = PlcmSpIp
#ap.DefaultPassword = PlcmSpIp
#ap.InputCfgFileName = 
#ap.DeviceCfgFileKey = 
#ap.CommonCfgFileKey = 
ap.DownloadCommonConf = 1
ap.SaveProvisionInfo = 1
ap.FailedRetryTimes = 5
#ap.FlashServerIP = ${SERVER}
#ap.FlashFileName = 
#ap.FlashProtocol = 4
#ap.FlashMode = 1
ap.FlashInterval = 1
ap.DHCPOption = 66
ap.pnp.Enabled = 1
ap.pnp.IP = 224.0.1.75
ap.pnp.Port = 5060
ap.pnp.Transport = 0
ap.pnp.Interval = 1

################################################################################
qos.DiffServEnabled = 1
qos.SignalDSCP = 26
qos.AudioDSCP = 46
qos.VideoDSCP = 46
qos.lldp.Enabled = 1
qos.lldp.Interval = 60
qos.lldp.LearnEnabled = 1
qos.lldp.SaveLearnedData = 0

################################################################################
devlog.Level = INFO
devlog.Style = level,tag
devlog.OutputDevice = stdout
devlog.FileName = platform.log
devlog.FileSize = 512KB
devlog.SyslogTag = platform
devlog.SyslogServer = 0.0.0.0
devlog.SyslogServerPort = 514

################################################################################
pubApp.WatchDogEnabled = 1

################################################################################
dss.SelectedDssAction = 0
dss.BlfDefaultType = 2
dss.PageNum = 4
dss.Extern1PageBelong = 0
dss.Extern2PageBelong = 0
dss.Extern3PageBelong = 0
dss.Extern4PageBelong = 0
dss.Extern5PageBelong = 0

################################################################################
side.PageNum = 1

${N_A}
${LINEKEYS}
${BLFS}
${SPEEDDIALS}
${DND_BUTTONS}
${MCPAGES}
${VM_BUTTONS}
${PREFIX_BUTTONS}
${CALLPARK_BUTTONS}
${RECORD_BUTTONS}
${CUSTOM1}
${CUSTOM2}
${CUSTOM3}

