# Snom 7xx line configuration - replaces ${BLFS} in snom3xx_phone.cfg
# ${BUTTON_ZERO_BASED} is 0, 1,2, etc which corresponds to key 1,2,3, etc
fkey${BUTTON_ZERO_BASED}$: blf <sip:${BLF_TARGET}@${SERVER};user=phone>
fkey_label${BUTTON_ZERO_BASED}$: ${BLF_LABEL}
fkey_short_label${BUTTON_ZERO_BASED}$: ${BLF_LABEL}