# Snom 7xx line configuration - replaces ${SPEEDDIALS} in snom3xx_phone.cfg
# ${BUTTON_ZERO_BASED} is 0, 1,2, etc which corresponds to keys 1,2,3,etc
fkey${BUTTON_ZERO_BASED}$: speed ${SPEEDDIAL_TARGET}
fkey_label${BUTTON_ZERO_BASED}$: ${SPEEDDIAL_LABEL}
fkey_short_label${BUTTON_ZERO_BASED}$: ${SPEEDDIAL_LABEL}
