# Snom 7xx line configuration - replaces ${LINES} in snom3xx_phone.cfg
# ${LINE} is 1,2, etc
user_name${LINE}$: ${USERID}
user_pass${LINE}$: ${PASSWORD}
user_realname${LINE}$: ${DISPLAY_NAME}
user_host${LINE}$: ${SERVER}
user_expiry${LINE}$: 180
user_srtp${LINE}$: off
codec_priority_list${LINE}$: g722,pcmu,pcma,gsm,g723,g726-32,aal2-g726-32,g729,telephone-event
user_pname${LINE}$: ${USERID}
user_mailbox${LINE}$: ${EXTENSION}
user_mailbox_retrieve${LINE}$: ${EXTENSION}@${SERVER}
user_idle_text${LINE}$: ${LABEL}