#!version:1.0.0.1
auto_provision.server.url = ${PROTO}://${PROV_USER}:${PROV_PASSWORD}@${PROV_SERVER}${PROV_PATH}
auto_provision.server.username = ${PROV_USER}
auto_provision.server.password = ${PROV_PASSWORD}
local_time.time_zone = ${TL_TIMEZONE}
local_time.time_zone_name = ${TL_TIMEZONE_NAME}
local_time.summer_time = 1
local_time.dst_time_type = 1
local_time.start_time = 3/2/7/2
local_time.end_time = 11/1/7/2
local_time.ntp_server1 = time.nist.gov
local_time.ntp_server2 = 1.us.pool.ntp.org
local_time.time_format = 0
local_time.dhcp_time = 0
voice_mail.number.1 = *98
voice_mail.number.2 = *98
voice_mail.number.3 = *98
voice_mail.number.4 = *98
voice_mail.number.5 = *98
voice_mail.number.6 = *98
security.user_password = admin:Yeyu6d2
security.user_password = user:6345737
call_park.enable = 1
call_park.park_code = ${PARKEXT}
features.call_park.enable = 1
features.call_park.park_mode = 2
features.call_park.park_code = ${PARKEXT}
distinctive_ring_tones.alert_info.1.text = Internal
distinctive_ring_tones.alert_info.1.ringer = 1
distinctive_ring_tones.alert_info.2.text = External
distinctive_ring_tones.alert_info.2.ringer = Resource:Ring3.wav
distinctive_ring_tones.alert_info.3.text = Group
distinctive_ring_tones.alert_info.3.ringer = Resource:Ring6.wav
features.pickup.direct_pickup_code = *8
features.pickup.direct_pickup_enable = 1
features.pickup.group_pickup_code = *80
features.pickup.group_pickup_enable = 1
sip.authentication_for_xsi = 0
bw_phonebook.personal_enable = 0
bw_phonebook.group_enable = 0
bw_phonebook.enterprise_enable = 0
bw_phonebook.group_common_enable = 0
bw_phonebook.enterprise_common_enable = 0
bw_phonebook.call_log_enable = 0
sip.trust_ctrl = 1
transfer.dsskey_deal_type = 1
features.direct_ip_call_enable = 0
multicast.listen_address.1.label = Page All Group
multicast.listen_address.1.ip_address = 234.2.1.1:2000
multicast.receive_priority.enable = 0
multicast.receive_priority.priority = 10
features.caller_name_type_on_dialing = 1
features.records_show_num = 1
transfer.tran_others_after_conf_enable = 1
features.voice_mail_tone_enable = 0
voice.tone.autoanswer = 1900
voice.tone.country = United States
phone_setting.common_power_led_enable = 0
phone_setting.missed_call_power_led_flash.enable = 0
phone_setting.vq_rtcpxr.states_show_on_web.enable = 1
phone_setting.vq_rtcpxr.states_show_on_gui.enable = 1
phone_setting.vq_rtcpxr_display_start_time.enable = 1
phone_setting.vq_rtcpxr_display_stop_time.enable = 1
features.remote_phonebook.enable = 1
remote_phonebook.data.1.url = ${PROTO}://${PROV_USER}:${PROV_PASSWORD}@${PROV_SERVER}${PROV_PATH}/CONTACTS/yealink_compdir.xml
remote_phonebook.data.1.name = Corp Directory
directory_setting.url = ${PROTO}://${PROV_USER}:${PROV_PASSWORD}@${PROV_SERVER}${PROV_PATH}/CONTACTS/favorite_setting.xml
sip.listen_port = 6170
features.usb_call_recording.enable = 1
features.blf_active_backlight.enable = 0
features.dnd.off_code = 607
features.dnd.on_code = 606
features.call_log_show_num = 2
static.network.vpn_enable = 0
voice.handfree_send = 0
features.remote_phonebook.enter_update_enable=1
features.remote_phonebook.flash_time=3600
features.redial_via_local_sip_server=1
features.voice_mail_tone_enable=0
features.redial_via_local_sip_server.enable = 1
call_waiting.tone = 1

dm.enable = 1
dm.server.port = 443
dm.server.http_enable = 0
dm.server.https_enable = 0
dm.server.retry_min_interval = 5
dm.server.retry_interval_multiplier = 2000
dm.server.retry_interval_max_power = 5
features.usb_call_recording.enable = 1
voice.rtcp_xr.enable = 1
dm.server.address = dmtcp.yealink.com

${N_A}
${LINES}
${LINEKEYS}
${BLFS}
${SPEEDDIALS}
${MCPAGINGS}
${MCPAGES}

${DND_BUTTONS}
${GRPPICKUPS}
${VM_BUTTONS}
${PREFIX_BUTTONS}
${CALLPARK_BUTTONS}
${CONFERENCE_BUTTONS}
${FORWARD_BUTTONS}
${TRANSFER_BUTTONS}
${HOLD_BUTTONS}
${PAGING_LIST_BUTTONS}
${CUSTOM1}
${CUSTOM2}
${CUSTOM3}

${OVERRIDE}
