#!version:1.0.0.1
voice.tone.country = United States
auto_provision.weekly.enable = 1
auto_provision.weekly.begin_time = 01:00
auto_provision.weekly.end_time = 04:00
auto_provision.server.url = ${PROTO}://${PROV_SERVER}${PROV_PATH}
auto_provision.server.username = ${PROV_USER}
auto_provision.server.password = ${PROV_PASSWORD}
call_park.enable = 1
call_park.park_code = ${PARKEXT}
distinctive_ring_tones.alert_info.1.ringer = 3
distinctive_ring_tones.alert_info.1.text = Internal
distinctive_ring_tones.alert_info.2.ringer = 4
distinctive_ring_tones.alert_info.2.text = External
features.pickup.direct_pickup_code = *8
features.pickup.direct_pickup_enable = 1
features.pickup.group_pickup_code = *81
features.pickup.group_pickup_enable = 1
local_time.time_zone = ${TL_TIMEZONE}
local_time.time_zone_name = ${TL_TIMEZONE_NAME}
local_time.summer_time = 1
local_time.dst_time_type = 1
local_time.start_time = 3/2/7/2
local_time.end_time = 11/1/7/2
local_time.ntp_server1 = 0.us.pool.ntp.org
local_time.ntp_server2 = 1.us.pool.ntp.org
local_time.dhcp_time = 1
local_time.date_format = 1
local_time.time_format = 0
features.direct_ip_call_enable = 0
#security.user_password = admin:31337
#security.user_password = user:123
