#!version:1.0.0.1
auto_provision.server.url = ${PROTO}://${PROV_USER}:${PROV_PASSWORD}@${PROV_SERVER}${PROV_PATH}
auto_provision.server.username = ${PROV_USER}
auto_provision.server.password = ${PROV_PASSWORD}
firmware.url = ${PROTO}://${PROV_USER}:${PROV_PASSWORD}@${FIRMWARE_SERVER}${FIRMWARE_PATH}/FIRMWARE-YEALINK/${FIRMWARE}
