
${LINES}

# Phone Label (Text desired to be displayed in upper right corner)
phone_label: "${STATION_NAME}"            ; Has no effect on SIP messaging

# Setting for Message speeddial to UOne box
messages_uri: "${VOICEMAIL_NUMBER}"
