# Cisco 79xx Line Configuration
line${LINE}_name: "${USERID}"            ; Line Extension\User ID
line${LINE}_displayname: "${USERID}"      ; Line Display Name
line${LINE}_shortname: "${USERID}"        ; Line Short Name
line${LINE}_authname: "${USERID}"         ; Line Registration Authentication
line${LINE}_password: "${PASSWORD}"       ; Line Registration Password
